@import url('./styles/variables_color.css');

@font-face {
	font-family: 'IBM Plex Sans';
	src: url(./fonts/IBMPlexSans-Regular.ttf);
	font-style: normal;
	font-weight: normal;
}

body,
html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--body-color);
	font-size: 16px;
	font-family: 'IBM Plex Sans', serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
img,
button,
input,
ul,
li {
	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
